a{
    text-decoration: none;
    font-weight: bold;
}
.tab{
    border: 2px;
    border-color: blueviolet
}
button{
    background-color: blueviolet;
    color: black;

}
h2{
    color: crimson;
    font-weight: bold;
}
